.conferencia-tab .nav-item .nav-link .active {
    color: #00585E !important;
    background-color: #F3F3F3 !important;
}

.conferencia-tab .nav-item .nav-link {
    color: #42474A !important;
    background-color: transparent !important;
}