.conferencia-tab .nav-item .nav-link .active {
  color: var(--color-primary-darker) !important;
  background-color: #f3f3f3 !important;
}

.conferencia-tab .nav-item .nav-link {
  color: #42474a !important;
  background-color: transparent !important;
}
