span.total-acoes {
  color: var(--color-primary);
  font-weight: bold;
}

#selectedAcao {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-right: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

#selectedAssociacao {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-right: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-pesquisar-tipos-conta,
.btn-pesquisar-tipos-conta:focus {
  border: none;
  background-color: transparent;
  outline: none;
}
