.container-meus-dados{

  .container-meus-dados-esquerda{
    text-align: center;

    .nome-usuario{
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }

  }

  .container-meus-dados-direita{

  }

}