.linha-cinza {
  background-color: #f5f6f8;
}

.tab-saldos-bancarios {
  border: 1px solid #a4a4a4 !important;
  background-color: #f3f3f3;
  color: #000;
  margin-right: 5px;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-item.show .tab-saldos-bancarios,
.nav-tabs .tab-saldos-bancarios.active {
  color: var(--color-primary-lighten);
  border-bottom: none !important;
}

 .tab-saldos-bancarios:hover {
  color: var(--color-primary-lighten);
 }

.nome-dre {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary-lighten);
}
.link-voltar {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

.close {
  color: #000 !important;
}

#comprovante_extrato_bancario {
  min-height: 500px;
  width: 100%;
}
