#diferenca_prestacao_de_conta{
  font-weight: bold;
  color: #B40C02;
  background-color: #DADADA;
}

.container-upload-extrato{
  background-color: #F3F3F3;
  padding: 4px;
  color: #42474A;
}

.container-upload-item{
  height: 40px;
  background-color: #E2E2E2;
}

.container-upload-extrato .btn-apagar-comprovante-extrato {
  padding-left: 10px;
}

#upload_extrato{
  display: inline !important;
  width: auto !important;
}

.exibe-data-comprovante-extrato{
  display: block;
  font-size: 12px;
}

.disabled_upload{
  pointer-events: none;
}