.container-titulo-ata-parecer-tecnico {
  border: 1px solid #dadada;
  background-color: #f3f3f3;
}

.container-corpo-ata-parecer-tecnico {
  border: 1px solid #dadada;
}

.titulo-ata-parecer-tecnico {
  color: var(--color-primary-lighten);
  font-size: 20px;
  font-weight: bold;
}

.documento-pendente-ata-parecer-tecnico {
  color: #b40c02;
}

.ata-nao-preenchida {
  color: #b40c02;
}

.ata-preenchida {
  color: green;
}

.container-visualizacao-da-ata-parecer-tecnico {
  margin-top: 69px;
  color: #000 !important;

  .titulo-visualizacao-da-ata-parecer-tecnico {
    font-size: 24px;
    font-weight: bold;
    color: #42474a;
  }

  .subtitulo-visualizacao-da-ata-parecer-tecnico {
    color: var(--color-primary-lighten);
    font-size: 16px;
  }
}

.titulo-texto-dinamico-superior {
  font-size: 22px;
  font-weight: bold;
  color: #42474a;
}

.texto-dinamico-superior {
  color: #42474a;
  font-size: 16px;
}

.texto-atencao {
  color: #42474a;
  font-size: 16px;
  font-weight: bold;
}

.tabela-status-pc tbody:nth-child(odd) {
  background-color: #f3f3f3;
}

.tabela-status-pc th {
  background-color: #f5f6f8;
}

.titulo-tabelas {
  font-size: 16px;
  color: #42474a;
}

.titulo-tabelas-aprovadas {
  color: #297805;
}

.titulo-tabelas-reprovadas {
  color: #b40c02;
}

.titulo-tabelas-conta {
  border-bottom-color: #a4a4a4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: var(--color-primary-lighten);
  font-size: 18px;
}

.lista-vazia {
  color: #42474a;
  font-size: 16px;
  font-style: italic;
}

.titulo-motivos {
  color: #42474a;
  font-size: 16px;
  font-weight: bold;
}

.titulo-assinaturas {
  color: #42474a;
  font-size: 16px;
}

.box-assinaturas {
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  font-size: 16px;
  color: #42474a;
}

.linha-assinatura {
  border-top: 1px solid #a4a4a4 !important;
}

.titulo-edicao-ata {
  color: #42474a;
  font-size: 18px;
}

.titulo-edicao-ata-presentes {
  color: var(--color-primary-lighten);
  font-size: 16px;
}

.div-form-edicao-ata-parecer-tecnico {
  color: #42474a;
}

.btn-remover-presente {
  color: #b40c02;
}

.btn-remover-presente:hover {
  color: #b40c02;
}

.titulo-comentarios {
  font-size: 14px;
}

.titulo-comentarios-opcional {
  color: #a4a4a4;
}

.classe-status {
  color: #297805;
  font-weight: bold;
}

.documento-processando {
  color: #d06d12;
  font-weight: bold;
}
