REACT_APP_URL_API=

# Para DEV, utilizar chave de teste do Google (sempre válida em dev - https://developers.google.com/recaptcha/docs/faq?utm_source=chatgpt.com&hl=pt-br)
REACT_APP_RECAPTCHA_SITE_KEY=