.relatorio-tabela-grupo {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__title {
    margin-bottom: 0 !important;
    color: #42474a !important;
    font-size: 20px !important;
    font-weight: 700 !important;
  }

  &__description {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

