$cor_inativa: #EF4C61;

.barra-mensagem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 4px;
  @if 'barra-mensagem-info-inativa' {
    margin-top: 10px !important;
  }@else {
    margin-top: 32px !important;
  }
}

.barra-mensagem-info-inativa {
  outline: $cor_inativa solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FDEDEE;
  border: 1px solid;
  border-radius: 4px;
}

.barra-mensagem-info-inativa > div {
  font-family: 'Roboto';
  padding-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $cor_inativa;
}

.barra-mensagem-info-inativa .align-self-center{
  width: 35px;
}

.barra-mensagem-info-inativa path {
  fill: $cor_inativa;
  margin-top: 3px;
  transform: scale(0.7) translateY(120px);
}

.btn-barra-mensagem{
  border-color: #fff !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #FFFFFF !important;
}

.icone-alert-barra-mensagem{
  font-size: 28px;
  font-weight: 900;
  line-height: 18px;
  align-items: center;
}

.sucess-azul {
  color: #5BBCF2 !important
}

.sucess-laranja {
  color: #EAAA5E !important
}

.info-branco {
  color: #FFFFFF !important
}