.barra-mensagem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 4px;
  @if 'barra-mensagem-info-inativa' {
    margin-top: 10px !important;
  }@else {
    margin-top: 32px !important;
  }
}

.barra-mensagem-info-inativa {
  background-color: #B40C02;
}

.barra-mensagem-info-acerto {
  background-color: #E6F7FF;
  outline: #0A6DDF solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid;
  border-radius: 4px;
  color: #0A6DDF;
}

.barra-mensagem-info-acerto



.btn-barra-mensagem {
  border-color: #fff !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #FFFFFF !important;
}

.icone-alert-barra-mensagem{
  font-size: 28px;
  font-weight: 900;
  line-height: 18px;
  align-items: center;
}

.sucess-azul {
  color: #5BBCF2 !important
}

.info-acerto {
  color: #0A6DDF !important
}

.sucess-laranja {
  color: #EAAA5E !important
}

.info-branco {
  color: #FFFFFF !important
}