.paginacao-composicoes {
  text-align: right !important;
  padding: 0 10px 0 0 !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.paginacao-composicoes .p-paginator {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
}

.paginacao-composicoes .p-paginator-prev,
.paginacao-composicoes .p-paginator-next {
  height: 3em !important;
  min-width: 3em !important;
  color: #ffffff !important;
  margin: 0 2px !important;
}

.paginacao-composicoes .p-paginator-element {
  margin: 5px !important;
  background-color: var(--color-primary);
}

.paginacao-composicoes .p-disabled {
  margin: 5px !important;
  background-color: #dadada !important;
  color: #a4a4a4 !important;
}

// Para controlar a exibição das abas de Mandato Vigente e Mandatos Anteriores
.tab-membros-associacao > .tab-pane {
  display: block !important;
}

.tab-membros-associacao .fade:not(.show) {
  opacity: 1;
}

.asterisco-vermelho {
  color: #b40c02;
}
