.paginacao-composicoes{
  text-align: right !important;
  padding: 0 10px 0 0 !important;
}

.paginacao-composicoes .p-paginator-prev, .paginacao-composicoes .p-paginator-next{
  height: 3em !important;
  min-width: 3em !important;
  color: #FFFFFF !important;
}

.paginacao-composicoes .p-paginator-element{
  margin: 5px !important;
  background-color: #00585E;
}

.paginacao-composicoes .p-disabled{
  margin: 5px !important;
  background-color: #DADADA !important;
  color: #A4A4A4 !important;
}

// Para controlar a exibição das abas de Mandato Vigente e Mandatos Anteriores
.tab-membros-associacao>.tab-pane{
  display: block !important;
}

.tab-membros-associacao .fade:not(.show) {
  opacity: 1;
}


