.container-404 {
  .texto-404,
  .link-404 {
    font-size: 26px;
    font-weight: bold;
    line-height: 140%;
    color: #42474a;
  }

  .link-404 {
    color: var(--color-primary);
    outline: none;
    border: none;
    background: transparent;
  }
}
