.texto-legenda-cor-1 {
  color: #DE9524;
}

.texto-legenda-cor-2 {
  color: #086397;
}

.texto-legenda-cor-3 {
  color: #B40C02;
}

.texto-legenda-cor-4 {
  color: #2B7D83;
}

.texto-legenda-cor-5 {
  color: #289B00;
}

.texto-legenda-cor-1-icone, .texto-legenda-cor-2-icone, .texto-legenda-cor-3-icone, .texto-legenda-cor-4-icone, .texto-legenda-cor-5-icone{
  background-repeat: no-repeat;
  padding-left: 1.3rem;
  background-position: 0 80%;
}

.texto-legenda-cor-1-icone{
  color: #C65D00;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-1.svg");
}

.texto-legenda-cor-2-icone{
  color: #086397;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-2.svg");
}

.texto-legenda-cor-3-icone{
  color: #B40C02;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-3.svg");
}

.texto-legenda-cor-4-icone{
  color: #2B7D83;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-4.svg");
}

.texto-legenda-cor-5-icone{
  color: #289B00;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-5.svg");
}
