.texto-legenda-cor-1 {
  color: #de9524;
}

.texto-legenda-cor-2 {
  color: #086397;
}

.texto-legenda-cor-3 {
  color: #b40c02;
}

.texto-legenda-cor-4 {
  color: var(--color-primary-lighten);
}

.texto-legenda-cor-5 {
  color: #289b00;
}

.texto-legenda-cor-1-icone,
.texto-legenda-cor-2-icone,
.texto-legenda-cor-3-icone,
.texto-legenda-cor-4-icone,
.texto-legenda-cor-5-icone {
  background-repeat: no-repeat;
  padding-left: 1.3rem;
  background-position: 0 80%;
}

.texto-legenda-cor-1-icone {
  color: #c65d00;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-1.svg");
}

.texto-legenda-cor-2-icone {
  color: #086397;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-2.svg");
}

.texto-legenda-cor-3-icone {
  color: #b40c02;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-3.svg");
}

.texto-legenda-cor-4-icone {
  color: var(--color-primary-lighten);
  background-image: url("../../../assets/img/icone-texto-legenda-cor-4.svg");
}

.texto-legenda-cor-5-icone {
  color: #289b00;
  background-image: url("../../../assets/img/icone-texto-legenda-cor-5.svg");
}
