.container-texto-introdutorio{
  background-color: #D3F1F3;

  .titulos-informacoes{
    font-size: 16px;
    font-weight: bold;
  }
}

.barra-status-verde{
  background-color: #289B00;
}
.barra-status-amarelo{
  background-color: #DE9524;
}
.barra-status-amarelo{
  background-color: #DE9524;
}

.titulo-status{
  color: #fff;
  font-size: 14px !important;
  font-weight: bold !important;
}
