.container-texto-introdutorio{
  background-color: #D3F1F3;

  .titulos-informacoes{
    font-size: 16px;
    font-weight: bold;
  }
}

.btn-readonly{
  background-color: #A4A4A4 !important;
  color: #fff !important;
  border-color: #A4A4A4 !important;

}

.barra-status-verde{
  background-color: #289B00;
}
.barra-status-amarelo{
  background-color: #DE9524;
}
.barra-status-amarelo{
  background-color: #DE9524;
}

.titulo-status{
  color: #fff;
  font-size: 14px !important;
  font-weight: bold !important;
}

.demonstrativo-financeiro-container{

  .demonstrativo-financeiro-titulo{
    font-weight: bold;
    font-size: 20px;
  }
  .demonstrativo-financeiro-nome-acao{
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  .demonstrativo-financeiro-documento-pendente{
    font-size: 12px;
    color: #B40C02;
  }

  .demonstrativo-financeiro-btn-readonly{
    background-color: #A4A4A4 !important;
    color: #fff !important;
    border-color: #A4A4A4 !important;

  }

}

.detalhe-das-prestacoes-container{
  margin-top: 69px;
  padding: 15px 30px;

  .detalhe-das-prestacoes-titulo{
    font-size: 24px;
    font-weight: bold;
  }
}

