
.btn-custom-iconbutton,.btn-custom-iconbutton:focus, .btn-custom-iconbutton:active {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}