.titulo-editor-fique-de-olho{
  font-size: 20px;
  font-weight: bold;
  color: #2B7D83;
}

.btn-texto {
  font-family: "Roboto";
  font-size: 12px !important;
  font-weight: bold !important;
}

.btn-limpar-customizado {
  border-color: #00585E !important;
  color: #00585E !important;

  &:hover {
    background-color: #00585E !important;
    color: white !important;
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 88, 94, 0.25) !important;
  }
}