.tag-informacoes-associacao-encerrada {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    align-items: center;
  }
  
.fundo-cor-cinza-neutral-03 {
  background-color: #9B9C9C;
}

.texto-cor-branco {
  color: #fff;
}
