.menu-interno {
  padding-bottom: 1.5rem;
  li {
    border: none;

    a {
      font-weight: bold !important;
      color: #a4a4a4;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 1rem;
      margin-right: 2rem;
    }

    a:hover {
      color: var(--color-primary-darker) !important;
      text-decoration: none;
    }

    .active {
      font-weight: bold !important;
      color: var(--color-primary);
      border-bottom: solid var(--color-primary-darker) 4px;
    }

    svg {
      fill: red !important;
    }
  }
}
