#nav-conferencia-de-lancamentos-tabContent .p-datatable-tbody tr td div.container-botoes-ajustes, #nav-conferencia-de-lancamentos-tabContent .p-datatable-tbody tr td div div.container-botoes-ajustes {
  pointer-events: visible !important;
}

.clique-aqui-atualizada{
  color: #42474A !important;
  text-decoration: underline;
}