.barra-topo-lista-usuarios {
  h2 {
    font-size: 20px;
    color: var(--color-primary-lighten);
    font-weight: 700;
    line-height: 22px;
  }

  padding: 16px 0;
}

.barra-botoes-filtro {
  padding: 16px 0;
}

.botao-acao-lista {
  padding: 0 4px;
}

.check-apenas-usuarios-da-unidade {
  margin-left: 20px;
  padding: 0 16px;
}

.botao-acao-lista-enable {
  cursor: pointer;
}

.botao-acao-lista-disable {
  cursor: not-allowed;
}
