span.total-lancamentos{
    color: #00585e;
    font-weight: bold;
  }

.categoria-table-multiple-search {
  width: 100%;
  border-collapse: collapse;
  min-height: calc(1.5em + .75rem + 2px);
}

.categoria-table-multiple-search .ant-select-selector {
  height: 38px;
  min-height: calc(1.5em + .75rem + 2px);
}