span.total{
    color: #00585e;
    font-weight: bold;
  }

.categorias-table-multiple-search {
  width: 100%;
  height: 50px;
  border-collapse: collapse;
  min-height: calc(1.5em + .75rem + 2px);
}

.documentos-table-multiple-search {
  width: 100%;
  border-collapse: collapse;
  min-height: calc(1.5em + .75rem + 2px);
}

.documentos-multiple-search .ant-select-selector .ant-select-selection-overflow{
  height: 40px;
  min-height: calc(1.5em + .75rem + 2px);
}

.categorias-multiple-search .ant-select-selector .ant-select-selection-overflow{
  height: 40px;
  min-height: calc(1.5em + .75rem + 2px);
}

.btn-editar-acertos {
  outline: none !important;
  border: none;
  background: #fafafa;
}

#filtrar_por_nome{
  height: 33px;
}

#filtrar_por_ativo{
  height: 33px;
}