.titulo-editor-fique-de-olho {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-primary-lighten);
}

.btn-textos {
  font-family: "Roboto";
  font-size: 14px !important;
  font-weight: bold !important;
}

.btn-limpar-customizado {
  border-color: var(--color-primary-darker) !important;
  color: var(--color-primary-darker) !important;
  font-size: 14px !important;
  font-weight: bold !important;

  &:hover {
    background-color: var(--color-primary-darker) !important;
    color: white !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 88, 94, 0.25) !important;
  }
}
