.container-esqueci-minha-senha{

  .esqueci-minha-senha-inner-texto{
    text-align: center;

    .titulo-services{
      font-size: 24px;
    }

  }
  .requisitos-seguranca-senha{
    font-size: 12px;
    margin-bottom: 0;
  }
  .forca-senha-validada{
    color: #227b32;
    background-image: url("../../assets/img/icone-forca-senha-validate.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
}