.container-esqueci-minha-senha{

  .esqueci-minha-senha-inner-texto{
    text-align: center;

    .titulo-services{
      font-size: 24px;
    }

  }
  .requisitos-seguranca-senha{
    font-size: 12px;
    margin-bottom: 0;
  }
  .forca-senha-validada{
    color: green;
    //background-image: url("../../assets/img/icone-nao-conciliado.svg);
    background-image: url("../../assets/img/icone-nao-conciliado.svg");
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position:right center;
    background-position: 100% 50%;
  }



}