@import "variaveis.scss";

body {
  overflow-x: hidden;
}

#main {
  color: $corFonte;

  // Fontes

  .fonte-10 {
    font-size: 10px;
  }

  .fonte-12 {
    font-size: 12px;
  }

  .fonte-14 {
    font-size: 14px;
  }

  .fonte-16 {
    font-size: 16px;
  }

  .fonte-18 {
    font-size: 18px;
  }

  .btn-success {
    background-color: $corBtnSuccess;
    border-color: $corBtnSuccess;
  }

  .btn-outline-success {
    border-color: $corBtnSuccess;
    color: $corBtnSuccess;
  }

  .btn-outline-success:hover {
    color: #fff;
    background-color: $corBtnSuccess;
    border-color: $corBtnSuccess;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid #dadada;
    display: block;
  }

  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

  .page-content {
    width: calc(100% - 19rem);
    margin-left: 19rem;
    transition: all 0.4s;
    margin-top: 69px;
    background-color: #f5f6f8;
  }

  .page-content .page-content-inner {
    background-color: #fff;
    margin: 15px 0 0 0;
    padding: 15px;

    h2.subtitulo-itens-painel {
      font-size: 14px;
    }
  }

  h2.subtitulo-itens-painel-out {
    font-size: 18px;
  }

  .page-content h1.titulo-itens-painel {
    font-size: 24px;
  }

  /* for toggle behavior */
  #content.active {
    width: 100%;
    margin: 69px 0 0 4.5em;
  }

  .escondeItem {
    display: none !important;
  }

  /* Botões PrimeReact */

  .p-button {
    background-color: $mainColor;
    border-color: $mainColor;
    font-weight: bold;
  }

  .p-button:enabled:hover {
    border-color: $mainColor !important;
  }

  .p-button:enabled:focus {
    box-shadow: 0 0 0 0.1em $mainColor;
  }

  .btn-coad-background-outline {
    border-color: $mainColor;
    color: $mainColor !important;
    background-color: $whiteColor;
    font-weight: bold;
  }

  /* Paginator PrimeReact */

  .p-paginator {
    background-color: #ffffff !important;
    border: 0;
    padding: 2.5em;
  }

  .p-paginator-next {
    height: 4em;
    min-width: 4em;
  }

  .p-paginator-prev {
    height: 4em;
    min-width: 4em;
  }

  .p-paginator-page {
    height: 4em !important;
    min-width: 4em !important;
    border: 1px solid #dadada !important;
  }

  .p-highlight {
    background-color: #00585e !important;
  }

  .p-paginator-element {
    border: 1px solid #dadada !important;
  }

  /* DataTable PrimeReact */
  .p-datatable-thead > tr > th {
    text-align: left;
  }

  .datatable-footer-coad {
    .p-datatable-footer {
      background-color: #ffffff !important;
      font-weight: normal !important;
    }
  }

  .datatable-strapd-coad {
    .p-datatable-tbody > tr:nth-child(even) {
      background-color: transparent;
    }
  }

  .p-datatable.p-datatable-hoverable-rows
    .p-datatable-tbody
    > tr:not(.p-highlight):not(.p-highlight-contextmenu):hover {
    cursor: pointer;
    background-color: $hoverBackgroundColor;
    color: #ffffff !important;
  }

  .p-datatable.p-datatable-hoverable-rows
    .p-datatable-tbody
    > tr:not(.p-highlight):not(.p-highlight-contextmenu):hover
    span {
    color: #fff;
  }

  .ptrf-despesa-status-ativo {
    color: green;
  }

  .ptrf-despesa-status-inativo {
    color: red;
  }
}

/* ---------------------------------------------------
    Atualização PrimeReact para versão 10.9.6 (compatibilidade para utilizar saga-blue/theme.css) - Inicio
----------------------------------------------------- */

/* === Personalizações para DataTable PrimeReact === */

/* Estilos da tabela de dados */
.p-datatable {
  .p-datatable-thead > tr > th {
    background: #f4f4f4;
    color: #333;
    font-weight: 700;
    border: 1px solid #c8c8c8;
    padding: 0.75rem;
    font-size: 15px;
    text-align: left;
  }

  .p-datatable-tbody > tr {
    > td {
      border: 1px solid #e5e5e5;
      font-size: 14px;
      color: #333;
      border: 1px solid #c8c8c8;
      padding: 0.50rem;
    }

    &:nth-child(even) {
      background-color: #fcfcfc;
    }

    &:hover {
      background: $hoverBackgroundColor;
      
      > td {
        color: #fff !important;
      }
    }
  }
}

/* Botões de ação na tabela */
.p-button.p-button-text {
  background: transparent;
  border: none;
  box-shadow: none;

  &:hover {
    background: #f0f0f0;
    color: #007ad9;
  }
}

/* ===== Custom PrimeReact Paginator ===== */

/* Container principal do paginador */
.p-paginator {
  background-color: #ffffff !important;
  border: none !important;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  flex-wrap: wrap;
  font-size: 0.85rem;
}

/* Botões de próxima e anterior */
.p-paginator-next,
.p-paginator-prev {
  height: 3em;
  min-width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Número de página */
.p-paginator-page {
  height: 3em !important;
  min-width: 3em !important;
  border: 1px solid #dadada !important;
  background-color: #fff;
  color: #c8c8c8;
  font-weight: normal !important;
}

/* Página atual destacada */
.p-paginator-page.p-highlight {
  background-color: #00585e !important;
  color: #fff !important;
}

/* Elementos do paginador com borda (setas, números etc.) */
.p-paginator-element {
  border: 1px solid #dadada !important;
  transition: background-color 0.2s ease-in-out;
}

/* Hover nos botões */
.p-paginator-element:hover {
  background-color: #f0f0f0;
  color: #00585e;
}

/* Desabilita hover para tabelas com classe no-hover */
.no-hover .p-datatable-tbody > tr:hover {
  background-color: inherit !important;
  color: inherit !important;
  cursor: default !important;
}

.no-hover .p-datatable-tbody > tr:hover > td {
  background-color: inherit !important;
  color: inherit !important;
}

.no-hover .p-datatable-tbody > tr:hover span {
  color: inherit !important;
}

/* Remove mensagem "No available options" das DataTables */
.p-datatable .p-datatable-tbody > tr.p-datatable-emptymessage {
  display: none !important;
}

/* Classe para fundo cinza que mantém a cor durante hover */
.bg-cinza {
  background-color: #DADADA !important;
}

.p-datatable .p-datatable-tbody > tr:hover > td.bg-cinza {
  background-color: #DADADA !important;
  color: #333 !important;
}


/* ---------------------------------------------------
  Atualização PrimeReact para versão 10.9.6 (compatibilidade para utilizar saga-blue/theme.css) - Inicio - Fim
----------------------------------------------------- */

.btn-sem-borda-fundo {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}

.btn-base-vermelho {
  color: #ffffff !important;
  transition: 0s background-color;
  background-color: $corBtnErrorPrimaria !important;
  border: $corBtnErrorPrimaria !important;

  .icon-btn-base-vermelho {
    color: #ffffff;
    margin-right: 7px;
    font-size: 14px;
    transition: 0s color;
  }

  .text-btn-base-vermelho {
    font-size: 14px;
  }

  &:hover {
    background-color: $corBtnErrorSecundaria !important;
  }

  &:disabled {
    border-color: $corBtnDisabled !important;
    color: $corBtnDisabled !important;
    cursor: default;

    .icon-btn-base-vermelho {
      color: $corBtnDisabled;
    }
  }
}

.btn-base-vermelho-outline {
  border-color: $corBtnErrorPrimaria;
  color: $corBtnErrorPrimaria;
  transition: 0s background-color;
  background-color: transparent !important;

  .icon-btn-base-vermelho-outline {
    color: $corBtnErrorPrimaria;
    margin-right: 7px;
    font-size: 14px;
    transition: 0s color;
  }

  .text-btn-base-vermelho-outline {
    font-size: 14px;
  }

  &:hover {
    border-color: $corBtnErrorSecundaria !important;
    color: $corBtnErrorSecundaria !important;

    .icon-btn-base-vermelho-outline {
      color: $corBtnErrorSecundaria;
    }
  }

  &:disabled {
    border-color: $corBtnDisabled !important;
    color: $corBtnDisabled !important;
    cursor: default;

    .icon-btn-base-vermelho-outline {
      color: $corBtnDisabled;
    }
  }
}

.btn-base-verde {
  color: #ffffff !important;
  transition: 0s background-color;
  background-color: $mainColor !important;

  .icon-btn-base-verde {
    color: #ffffff;
    margin-right: 7px;
    font-size: 14px;
    transition: 0s color;
  }

  .text-btn-base-verde {
    font-size: 14px;
  }

  &:hover {
    background-color: $hoverBackgroundColor !important;

    .icon-btn-base-verde {
      color: $hoverBackgroundColor;
    }
  }

  &:disabled {
    border-color: $corBtnDisabled !important;
    color: $corBtnDisabled !important;
    cursor: default;

    .icon-btn-base-verde {
      color: $corBtnDisabled;
    }
  }
}

.btn-base-verde-outline {
  border-color: $mainColor;
  color: $mainColor;
  transition: 0s background-color;
  background-color: transparent !important;

  .icon-btn-base-verde-outline {
    color: $mainColor;
    margin-right: 7px;
    font-size: 14px;
    transition: 0s color;
  }

  .text-btn-base-verde-outline {
    font-size: 14px;
  }

  &:hover {
    border-color: $hoverBackgroundColor !important;
    color: $hoverBackgroundColor !important;

    .icon-btn-base-verde-outline {
      color: $hoverBackgroundColor;
    }
  }

  &:disabled {
    border-color: $corBtnDisabled !important;
    color: $corBtnDisabled !important;
    cursor: default;

    .icon-btn-base-verde-outline {
      color: $corBtnDisabled;
    }
  }
}

.title-primary {
  color: $corPrimaria;
}

.is_invalid {
  background-image: url("../img/icone-nao-conciliado.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}

.badge-substituto {
  background-color: $corTagSubstituto;
  color: $corBranco;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.badge-substituido {
  background-color: $corTagSubstituido;
  color: $corBranco;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// .ant-input,
// .ant-input-password,
// .ant-input-textarea {
//   border-radius: 0.2rem !important;
//   padding: 6px 11px !important;
// }

.btn-light-rose{
  background-color: #F8E7E6;
}

