@import "variaveis.scss";
body{
  overflow-x:hidden;
}
#main{
  color: $corFonte;

  .btn-success{
    background-color: $corBtnSuccess;
    border-color: $corBtnSuccess;
  }

  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

  .page-content {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: all 0.4s;
    margin-top: 69px;
    background-color: #F5F6F8;
  }

  .page-content .page-content-inner{
    background-color: #fff;
    margin: 15px 0 0 0;
    padding: 15px;

    h2.subtitulo-itens-painel{
      font-size: 14px;
    }
  }


  .page-content h1.titulo-itens-painel{
    font-size: 24px;
  }

  /* for toggle behavior */
  #content.active {
    width: 100%;
    margin: 69px 0 0 4.5em;
  }

  .escondeItem{
    display: none !important;
  }


}


