// Cores

$corBranco: #ffffff;
$corFonte: #42474a;
$corBtnSuccess: var(--color-primary);
$mainColor: var(--color-primary);
$whiteColor: #ffffff;
$hoverBackgroundcolor: var(--color-primary-lighten);
$verdeClaro: #29d612;
$corCinza: #9b9c9c;
$corBtnErrorPrimaria: #b40c02;
$corBtnErrorSecundaria: #e65050;
$corBtnDisabled: #9b9c9c;

$corPrimaria: var(--color-primary);

// Cores Tags
$corTagRoxo: #9c33ad;
$corTagRoxoClaro: #5f55a1;
$corTagLaranja: #f28a0d;
$corTagVerdeClaro: #4f8879;
$corTagVerde: #03543f;
$corTagNeutral2: #424848;
$corTagNeutral3: #9b9c9c;
$corTagCinzaClaro: #d8dbdb;
$corTagAzul: #086397;
$corTagAzulEscuro: #1d55cf;
$corTagVermelhoClaro: #c2255c;

$corTagSubstituto: #076397;
$corTagSubstituido: #42474a;

// Fontes

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

@mixin roboto-sans {
  font-family: "Roboto", sans-serif !important;
}
