// Cores

$corBranco: #ffffff;
$corFonte: #42474A;
$corBtnSuccess: #00585E;
$mainColor: #00585E;
$whiteColor: #ffffff;
$hoverBackgroundColor: #2B7D83;
$verdeClaro: #29d612;
$corCinza: #9B9C9C;
$corBtnErrorPrimaria: #B40C02;
$corBtnErrorSecundaria: #E65050;
$corBtnDisabled: #9B9C9C;

$corPrimaria: #00585E;

// Cores Tags
$corTagRoxo: #9C33AD;
$corTagRoxoClaro: #5F55A1;
$corTagLaranja: #F28A0D;
$corTagVerdeClaro: #4F8879;
$corTagVerde: #03543F;
$corTagNeutral2: #424848;
$corTagNeutral3: #9B9C9C;
$corTagCinzaClaro: #D8DBDB;
$corTagAzul: #086397;
$corTagAzulEscuro: #1D55CF;
$corTagVermelhoClaro: #C2255C;

// Fontes

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

@mixin roboto-sans {
  font-family: "Roboto", sans-serif !important;
}
