// Cores

$corBranco: #ffffff;
$corFonte: #42474A;
$corBtnSuccess: #00585E;
$mainColor: #00585E;
$whiteColor: #ffffff;
$hoverBackgroundColor: #2B7D83;
$verdeClaro: #29d612;
$corCinza: #9B9C9C;
$corBtnErrorPrimaria: #B40C02;
$corBtnErrorSecundaria: #E65050;
$corBtnDisabled: #9B9C9C;
// Fontes

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

@mixin roboto-sans {
  font-family: "Roboto", sans-serif !important;
}