.titulo-box-prestacao-de-contas-por-periodo {
  font-weight: bold;
  font-size: 20px;
}

.container-box-prestacao-de-contas-por-periodo {
  border: 1px solid #c8c8c8;
}

.status-data-verde {
  color: rgba(19, 139, 0, 0.97);
}
.status-data-vermelho {
  color: #b40c02;
}

.container-visualizacao-da-ata {
  margin-top: 69px;
  color: #000 !important;

  .titulo-visualizacao-da-ata {
    font-size: 24px;
    font-weight: bold;
  }

  .titulo-tabela-acoes {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 18px;
  }

  .tabela-acoes {
    max-width: 100%;
    color: #000 !important;
    .tr-titulo {
      background-color: #e0f7f9;
    }
    td,
    .td-livre-aplicacao-ausente {
      width: calc(100% / 5) !important;
    }
    .td-livre-aplicacao-ausente {
      background-color: #e5e5e5;
    }
  }

  .texto-despesas-titulo {
    font-size: 14px;
    font-weight: bold;

    .texto-despesas-valor {
      color: var(--color-primary);
    }
  }

  .tabela-totais {
    color: #000 !important;
    .tr-titulo {
      background-color: var(--color-primary-lighten);
      color: #fff;
    }

    td,
    .td-livre-aplicacao-ausente {
      width: calc(100% / 5) !important;
    }
    .td-livre-aplicacao-ausente {
      background-color: #e5e5e5;
    }
  }
}

.tabela-devolucoes-ao-tesouro {
  th {
    background-color: #a4a4a4;
    color: #fff;
  }
}

.titulo {
  border-bottom-color: var(--color-primary-lighten);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: var(--color-primary-lighten);
  font-size: 16px;
}

.tr-titulo-presentes {
  background-color: #eaeaea;
}

.btn-remover-presente {
  color: #b40c02;
  margin-top: 2.5rem !important;
  font-size: 12px;
  line-height: 22px;
}

.btn-remover-presente:hover {
  color: #b40c02;
}

.btn-cancelar-edicao {
  color: #b40c02;
  margin-top: 2.5rem !important;
  font-size: 12px;
  line-height: 22px;
}

.btn-cancelar-edicao:hover {
  color: #b40c02;
}

.btn-editar-presente {
  color: var(--color-primary);
  font-size: 12px;
  line-height: 22px;
}

.btn-editar-presente:hover {
  color: var(--color-primary);
}

.btn-confirmar-edicao-presente {
  color: var(--color-primary);
  font-size: 12px;
  line-height: 22px;
}

.btn-confirmar-edicao-presente:hover {
  color: var(--color-primary);
}

.btn-editar-presente:hover {
  color: var(--color-primary);
}

.adicao-presente {
  background-color: #f3f3f3;
}

.btn-confirmar {
  font-size: 12px;
  line-height: 22px;
  color: var(--color-primary);
}

.btn-confirmar:hover {
  color: var(--color-primary-darker) !important;
  background-color: #f3f3f3 !important;
}

.link-btn-ata,
.link-btn-ata:focus {
  background-color: transparent;
  outline: 0;
  border: none !important;
  text-decoration: none;
}

.link-btn-ata-disabled,
.link-btn-ata-disabled:focus,
.link-btn-ata-disabled:hover,
.link-btn-ata-disabled img svg path {
  color: #7d7d7d !important;
}

.link-btn-ata:hover {
  cursor: pointer;
}

.barra-aviso-preencher-data-reuniao {
  color: #ef4c61;
  border-radius: 4px;
  border-color: #ef4c61;
  border-style: solid;
  background-color: #fdedee;
  border-width: 1px;
  font-weight: 500;
  line-height: 20px;
}

.icone-barra-aviso-preencher-data-reuniao {
  color: #ef4c61;
  margin-right: 7px;
  margin-left: 7px;
}
