.titulo-box-prestacao-de-contas-por-periodo{
  font-weight: bold;
  font-size: 20px;
}

.container-box-prestacao-de-contas-por-periodo{
  border: 1px solid #c8c8c8;
}

.status-data-verde{
  color: rgba(19, 139, 0, 0.97);
}
.status-data-vermelho{
  color: #B40C02;
}

.container-visualizacao-da-ata{
  margin-top: 69px;
  color: #000 !important;

  .titulo-visualizacao-da-ata{
    font-size: 24px;
    font-weight: bold;
  }

  .titulo-tabela-acoes{
    color: #00585E;
    font-weight: bold;
    font-size: 18px;
  }

  .tabela-acoes{
    max-width: 100%;
    color: #000 !important;
    .tr-titulo{
      background-color: #E0F7F9;
    }
    td, .td-livre-aplicacao-ausente{
      width: calc(100% / 5) !important;
    }
    .td-livre-aplicacao-ausente{
      background-color: #E5E5E5;
    }
  }

  .texto-despesas-titulo{
    font-size: 14px;
    font-weight: bold;

    .texto-despesas-valor{
      color: #00585e;
    }

  }

  .tabela-totais{
    color: #000 !important;
    .tr-titulo{
      background-color: #2B7D83;
      color: #fff;
    }

    td, .td-livre-aplicacao-ausente{
      width: calc(100% / 5) !important;
    }
    .td-livre-aplicacao-ausente{
      background-color: #E5E5E5;
    }
  }
}

.tabela-devolucoes-ao-tesouro{
  th{
    background-color: #A4A4A4;
    color: #fff;
  }
}

.titulo {
  border-bottom-color: #2B7D83;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #2B7D83;
  font-size: 16px;
}

.tr-titulo-presentes{
  background-color: #EAEAEA;
}


.btn-remover-presente {
  color: #B40C02;
  margin-top: 2.5rem !important;
  font-size: 12px;
  line-height: 22px;
}

.btn-remover-presente:hover {
  color: #B40C02;
}

.btn-cancelar-edicao {
  color: #B40C02;
  margin-top: 2.5rem !important;
  font-size: 12px;
  line-height: 22px;
}

.btn-cancelar-edicao:hover {
  color: #B40C02;
}

.btn-editar-presente {
  color: #00585E;
  font-size: 12px;
  line-height: 22px;
}

.btn-editar-presente:hover {
  color: #00585E;
}

.btn-confirmar-edicao-presente {
  color: #00585E;
  font-size: 12px;
  line-height: 22px;
}

.btn-confirmar-edicao-presente:hover {
  color: #00585E;
}

.btn-editar-presente:hover {
  color: #00585E;
}

.adicao-presente {
  background-color: #F3F3F3;
}

.btn-confirmar{
  font-size: 12px;
  line-height: 22px;
  color: #00585E;
}

.btn-confirmar:hover {
  color: #00585E !important;
  background-color: #F3F3F3 !important;
}

.link-btn-ata, .link-btn-ata:focus{
  background-color: transparent;
  outline: 0;
  border: none !important;
  text-decoration: none;
}

.link-btn-ata-disabled, .link-btn-ata-disabled:focus, .link-btn-ata-disabled:hover, .link-btn-ata-disabled img svg path{
  color: #7D7D7D !important;
}

.link-btn-ata:hover{
  cursor: pointer;
}