.svg-inline--fa{
  color: #00585E;
}

.tabela-membros{
  .cabecalho{
    background-color: #F3F3F3;
  }

  td{
    width: calc(120% / 4) !important;
  }

}

.btn-editar-membro,.btn-editar-membro:focus {
  border: none;
  background-color: transparent;
  outline: none;
}

.escondeItem {
  display: none !important;
}

.texto-dados-adicionais-tabela-membros{
  font-size: 14px;
  margin-bottom: 0;
}

.link-exportar, .link-exportar:focus{
  color: #00585E !important;
  background-color: transparent;
  outline: 0;
  border: none !important;
  text-decoration: underline;
}

.link-exportar-disabled, .link-exportar-disabled:focus, .link-exportar-disabled:hover, .link-exportar-disabled img svg path{
  color: #7D7D7D !important;
}

.link-exportar:hover{
  cursor: pointer;
}

.link-green{
  color: #00585E !important;
}

.link-green:hover{
  cursor: pointer;
}
.switch-status-presidente-checked{
  background-color: #307D83 !important;
  color: #fff !important;
}

.texto-green{
  color: #00585E !important;
}