.container-dashboard-card {

}
.container-lado-direito{
  background-color: #F3F3F3;
  color: #00585E;
  border-radius: 3px;
}

.container-lado-esquerdo {
  font-size: 14px;
  color: #42474A;
}

.ultima-atualizacao{
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}

.texto-com-icone{
  color: #C65D00;
  background-image: url("../../../assets/img/icone-nao-conciliado.svg");
  background-repeat: no-repeat;
  padding-left: 1.3rem;
  background-position: 0 80%;
}

// Fontes
.fonte-12 {
  font-size: 12px !important;
}

.fonte-14 {
  font-size: 14px;
}

.fonte-16 {
  font-size: 16px;
}

.texto-saldo{
  border-bottom: solid 1px #DADADA;
  width: 80%;
  position: absolute;
  top: 5px;
}