.container-dashboard-card {
}
.container-lado-direito {
  background-color: #f3f3f3;
  border-radius: 3px;

  .texto-cor-verde {
    color: var(--color-primary);
  }

  .texto-cor-vermelha {
    color: #8b0000;
  }
}

.container-lado-esquerdo {
  font-size: 14px;
  color: #42474a;
}

.ultima-atualizacao {
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}

.barra-status-dashboard-verde {
  background-color: #289b00;
}

.barra-status-dashboard-amarelo {
  background-color: #d06d12;
}

.barra-status-dashboard-vermelho {
  background-color: #b40c02;
}

.barra-status-dashboard-cinza {
  background-color: #a4a4a4;
}

.barra-status-dashboard-azul {
  background-color: #086397;
}

.texto-com-icone-amarelo,
.texto-com-icone-vermelho,
.texto-com-icone-azul {
  background-repeat: no-repeat;
  padding-left: 1.3rem;
  background-position: 0 80%;
}

.texto-com-icone-amarelo {
  color: #c65d00;
  background-image: url("../../../assets/img/icone-nao-conciliado.svg");
}

.texto-com-icone-vermelho {
  color: #b40c02;
  background-image: url("../../../assets/img/dashborard-icone-pendente.svg");
}

.texto-com-icone-azul {
  color: #42474a;
  padding-left: 0;
}

// Fontes
.fonte-12 {
  font-size: 12px !important;
}

.fonte-14 {
  font-size: 14px;
}

.fonte-16 {
  font-size: 16px;
}

.texto-saldo {
  border-bottom: solid 1px #dadada;
  width: 80%;
  position: absolute;
  top: 5px;
  font-weight: bold;
  color: var(--color-primary);
}
