.datatable-situacao-patrimonial .p-datatable-tbody > tr.p-highlight {
  background-color: #B8D0CD !important;
}

.datatable-situacao-patrimonial .p-datatable-tbody > tr.p-highlight > td {
  background-color: #B8D0CD !important;
}

.datatable-situacao-patrimonial .p-highlight {
  background-color: #B8D0CD !important;
}

