.btn-filtrar {
    margin-top: 30px;
    background-color: #A4A4A4 !important;
    color:#FFF !important;
}

.btn-limpar {
    margin-top: 30px;
}

.btn-remover {
    background-color: #B40C02 !important;
}

.marcadores-comissoes {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: -20px;
}