.cabecalho{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  .logo-cabecalho{
    width: 100px;
  }

  .btn-sair{
    background: transparent;
    border: none;
  }

  .icone-sair{
    width: 25px;
  }
}



