.cabecalho {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  height: 80px;
  .logo-cabecalho {
    max-width: 60px;
  }

  .btn-sair {
    background: transparent;
    border: none;
  }

  .icone-sair {
    width: 25px;
  }

  .span-icone-verde {
    background-color: var(--color-primary-lighten);
    border-radius: 67px;
    border: 0px;
    padding: 8px 8px;
    font-size: 11px;
  }

  .span-text-dropdown {
    padding: 0px 5px;
  }

  .container-select-visoes {
    width: 90%;
  }

  .span-tipo-de-unidade {
    border-radius: 25px;
    background-color: var(--color-primary-lighten);
  }

  .span-notificacoes-menor-que-10,
  .span-notificacoes-maior-que-10 {
    position: absolute;
    //top: 0;
    background-color: #b40c02;
    border-radius: 67px;
    font-size: 11px;
    color: #fff;
    display: block;
    margin-left: 22px;
    margin-top: -32px;
  }

  .span-notificacoes-maior-que-10 {
    padding: 3px 5px;
  }

  .span-notificacoes-menor-que-10 {
    padding: 2px 7px;
  }

  .link-acoes {
    list-style-type: none;

    .nav-link {
      padding: 0 !important;
    }

    .dropdown-menu-opcoes {
      z-index: 1;
    }
  }
}

.span-label-visao-selecionada {
  background: var(--color-primary-lighten);
  border-radius: 25px;
  color: #fff;
  padding: 2px 0.8rem;
}
