.container-tabela-associacoes{

  .p-datatable-wrapper > table > thead > tr > th{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .p-datatable-wrapper > table > tbody > tr > td{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}