@import "src/assets/css/variaveis.scss";

.custom-tag {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  align-items: center;
}

.custom-tag-default {
  background-color: $corCinza;
  color: $corBranco;
}

.custom-tag-parcial {
  background-color: #f28a0d;
  color: $corBranco;
}

.custom-tag-todas {
  background-color: var(--color-primary-lighten);
  color: $corBranco;
}

.custom-tag-bem-adquirido {
  background-color: #00585d;
  color: $corBranco;
}

.custom-tag-bem-produzido {
  background-color: #245ef5;
  color: $corBranco;
}
