.paa-card-barra-titulo {
  background-color: #f3f3f3;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #dadada;

  &__texto {
    font-size: 18px;
    font-weight: 700;
    color: #42474a;
  }

  &__toggle {
    background-color: #dadada;
    border: 1px solid #dadada;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &__chevron {
    width: 12px;
    height: 8px;
  }
}
