.barra-status-encerramento-conta-rejeitada {
    color: #EF4C61;
    border-radius: 4px;
    border-color: #EF4C61;
    border-style: solid;
    background-color: #FDEDEE;
    border-width: 1px;
    font-weight: 500;
    line-height: 20px;
}

.icone-barra-encerramento-conta-rejeitada { 
    color: #EF4C61;
    margin-right: 4px;
}