.container-faq-categorias {

  .btn-escolhe-categoria {
    background-color: transparent;
    border: solid 1px #ccc;
    outline: none;
  }
  .btn-escolhe-categoria-active{
    background-color: #2B7D83;
    color: #fff;
    font-weight: 500;
  }
}