.container-faq-categorias {
  .btn-escolhe-categoria {
    background-color: transparent;
    border: solid 1px #ccc;
    outline: none;
  }
  .btn-escolhe-categoria-active {
    background-color: var(--color-primary-lighten);
    color: #fff;
    font-weight: 500;
  }
}

.btn-container-pergunta {
  color: var(--color-primary);
}

.btn-container-pergunta:hover,
.btn-container-pergunta:active,
.btn-container-pergunta:focus {
  text-decoration: none;
  color: var(--color-primary);
}

.span-icone-toogle {
  background-color: rgb(199, 201, 200);
  border-radius: 67px;
  border: 1px solid rgb(199, 201, 200);
  padding: 8px 12px;
  font-size: 16px;
}
