#dropdown-menu-tabela-acertos-lancamentos {
}

#tabela-acertos-lancamentos .p-datatable-tbody tr:not([class]) {
  background-color: #dadada;
}

#tabela-acertos-lancamentos .p-datatable-wrapper {
  overflow: visible;
}

#tabela-em-retificacao .p-datatable-wrapper {
  overflow: visible;
}

#tabela-retificaveis .p-datatable-wrapper {
  overflow: visible;
}

.texto-numero-do-item {
  color: var(--color-primary);
}
.container-categorias-acertos {
  pointer-events: visible !important;
}
