span.total-acoes{
  color: #00585e;
  font-weight: bold;
}

#selectedAcao{
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-right: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}