@import 'src/assets/css/variaveis.scss';

.tag-modal-legenda-informacoes {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    align-items: center;
}

.tag-purple {
    color: #fff;
    background-color: $corTagRoxo;
}

.tag-darkblue {
    color: #fff;
    background-color: $corTagRoxoClaro;
}

.tag-orange {
    color: #fff;
    background-color: $corTagLaranja;
}

.tag-green {
    color: #fff;
    background-color: $corTagVerde;
}

.tag-blank {
    border: 2px solid $corTagVerde;
    color: $corTagVerde;
    background: inherit;
}

.tag-red-white{
    border: 2px solid $corTagCinzaClaro;
    color: $corTagCinzaEscuro;
    background: $corTagCinzaClaro;
}

.tag-neutral-3 {
    color: #fff;
    background-color: $corTagCinza;
}

.tag-verde {
    color: #fff;
    background-color: $corTagVerde;
}

.tag-light-purple {
    color: #fff;
    background-color: $corTagRoxoClaro;
}

.tag-blue {
    color: #fff;
    background-color: $corTagAzulEscuro;
}

.tag-blue-white {
    border: 2px solid $corTagAzulEscuro;
    color: $corTagAzulEscuro;
    background: inherit;
}

.tag-red {
    color: #fff;
    background-color: $corTagVermelhoClaro;
}

.tag-dark-grey {
    color: #fff;
    background-color: $corTagCinzaEscuro;
}
