.titulo-contas {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
}

.titulo-acoes {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 14px;
}

.tabela-valores-reprogramados th {
  background-color: #f5f6f8;
  color: #42474a;
  font-weight: 700;
  font-size: 14px;
}

.tabela-valores-reprogramados-td-ue {
  font-size: 14px;
}

.tabela-valores-reprogramados-td-dre {
  font-size: 12px;
}

.status-conferencia {
  margin-top: 9px;
}

.tabela-valores-reprogramados .tbody-total {
  background-color: #f5f6f8;

  .total-titulo {
    font-weight: 700;
    font-size: 14px;
    color: #00585d;
  }

  .total-subtitulo {
    font-weight: 700;
    font-size: 12px;
    color: #00585d;
  }

  .total-valor {
    font-weight: 700;
    font-size: 14px;
    color: #42474a;
  }
}

.barra-status {
  color: #fff;
  font-size: 14px !important;
  font-weight: bold !important;
}

.titulo-associacao {
  font-size: 24px;
  color: var(--color-primary);
  font-weight: 700;
}

.subtitulo-associacao {
  font-size: 16px;
}

.cor-1 {
  background-color: #8c8c8c;
}

.cor-2 {
  background-color: #d06d12;
}

.cor-3 {
  background-color: #b53b0f;
}

.cor-4 {
  background-color: var(--color-primary-lighten);
}

.link-esta-correto,
.link-esta-correto:focus {
  color: #000000 !important;
  background-color: transparent;
  outline: 0;
  border: none !important;
  text-decoration: underline;
  font-size: 14px;
}

.link-esta-correto:hover {
  cursor: pointer;
}

.link-esta-correto-disabled,
.link-esta-correto-disabled:focus,
.link-esta-correto-disabled:hover {
  color: #7d7d7d !important;
  background-color: transparent;
  outline: 0;
  border: none !important;
  text-decoration: underline;
  font-size: 14px;
  pointer-events: none;
  cursor: default;
}
