.texto-periodo-topo {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 20px;
}

.texto-legenda-cor-EM_ANDAMENTO,
.texto-legenda-cor-DEVOLVIDA {
  color: #d06d12;
}

.texto-legenda-cor-NAO_RECEBIDA {
  color: #086397;
}

.texto-legenda-cor-NAO_APRESENTADA,
.texto-legenda-cor-REPROVADA {
  color: #b40c02;
}

.texto-legenda-cor-RECEBIDA {
  color: var(--color-primary-lighten);
}

.texto-legenda-cor-APROVADA,
.texto-legenda-cor-APROVADA_RESSALVA {
  color: #289b00;
}
