/* Show green borders when valid */
input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
}

/* Show red borders when filled, but invalid */
input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);
}

.is_valid {
  border-color: hsl(120, 76%, 50%);
}

/* Show red borders when filled, but invalid */
.is_invalid {
  background-image: url("../../../../assets/img/icone-nao-conciliado.svg");
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: 93% 50%;
}

.barra-status-erros {
  background-color: #c65d00;
  border-radius: 3px;
}

.link-exportar,
.texto-link-exportar {
  color: var(--color-primary);
}
.link-exportar:hover {
  cursor: pointer;
}

.label-valor-realizado {
  color: #a4a4a4;
}

.input-valor-realizado-vazio {
  color: #a4a4a4;
}
.input-valor-realizado-preenchido {
  color: #495057;
}

.btn-remover-despesa,
.btn-remover-despesa:hover,
.btn-remover-despesa:active,
.btn-remover-despesa:focus,
.btn-remover-despesa:visited {
  color: #b40c02;
  font-weight: bold;
}
.btn-remover-despesa:hover {
}

.esconde-especificacao-material-servico {
  display: none !important;
}

.container-retencao-imposto {
  .box-escolha-retencao-imposto {
    background: var(--color-primary-lighten);
    padding: 1rem;
    color: #fff;
    font-weight: bold;
  }

  .form-retencao-imposto {
    background: #f5f6f8;
    padding: 1rem;
    margin-left: -5px;
    margin-right: -5px;
  }
}

.retira-dropdown-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.desabilita-link-estorno {
  pointer-events: none;
  color: #b40c02 !important;
  opacity: 0.65;
}

.texto-rateio-estornado-bloqueado {
  color: #b40c02;
  font-weight: bold;
}

.desabilita-link-remover-despesa {
  color: #b40c02 !important;
  font-weight: bold;
}

.p-multiselect-panel {
  z-index: 1060 !important;
}
