.marcado-como-lido {
  background-color: #b8d0cd !important;
}

.borda-coluna {
  border: 1px solid #e0e0e0 !important;
}

.quantidade-arquivos {
  margin-block-end: 0em;
}

.quantidade-arquivos > strong {
  color: var(--color-primary);
}
