.marcado-como-lido{
    background-color: #B8D0CD !important;
    
}

.borda-coluna{
    border: 1px solid #E0E0E0 !important
}

.quantidade-arquivos{
    margin-block-end: 0em;
}

.quantidade-arquivos  > strong {
    color: #00585E;
}