.container-comprovacao-fiscal {
  .box-escolha-comprovacao-fiscal {
    background: var(--color-primary-lighten);
    padding: 1rem;
    color: #fff;
    font-weight: bold;
  }

  .box-escolha-reconhecida-pela-associacao {
    background: #ffffff;
    padding: 1rem;
    color: var(--color-primary-lighten);
    font-weight: bold;
    border: 1px solid;
  }
}
