.tabs-resumo-dos-acertos {
  padding-bottom: 0;
  border-bottom: solid 1px #bfbfbf !important;

  .btn-escolhe-acao {
    color: #42474a;
    margin-right: 0.5rem;
    background-color: transparent;
    border: solid 1px #bfbfbf;
    border-bottom: none;
  }

  .btn-escolhe-acao:hover,
  .btn-escolhe-acao:active,
  .btn-escolhe-acao:focus {
    border: solid 1px #bfbfbf;
    border-bottom: none;
  }

  .active {
    font-weight: bold !important;
    color: var(--color-primary-darker) !important;
    background-color: #f3f3f3 !important;
    border-bottom: 1px solid #fff !important;
    margin-bottom: -1px !important;
  }
}
