.barra-status-legenda-cor-0 {
  background-color: #B40C02;
}
.barra-status-legenda-cor-1 {
  background-color: #DE9524;
}
.barra-status-legenda-cor-2 {
  background-color: #2B7D83;
}
.barra-status-legenda-cor-3 {
  background-color: #289B00;
}
