.barra-status-legenda-cor-0 {
  background-color: #b40c02;
}
.barra-status-legenda-cor-1 {
  background-color: #de9524;
}
.barra-status-legenda-cor-2 {
  background-color: var(--color-primary-lighten);
}
.barra-status-legenda-cor-3 {
  background-color: #289b00;
}

.texto-aviso-associacoes-em-analise {
  background-repeat: no-repeat;
  padding-left: 1.3rem;
  background-position: 0 60%;
}

.texto-aviso-associacoes-em-analise {
  color: #b40c02;
  background-image: url("../../../assets/img/dashborard-icone-pendente.svg");
}

.btn-ir-para-acompanhamento,
.btn-ir-para-acompanhamento:focus,
.btn-adicionar-devolucoes,
.btn-adicionar-devolucoes:focus {
  outline: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}

.btn-adicionar-devolucoes,
.btn-adicionar-devolucoes:focus {
  color: var(--color-primary);
}

.container-box-consultar-dados,
.container-publicar-cabecalho {
  background-color: #f3f3f3;
}

.container-publicar-cabecalho {
  border-color: #dadada;
}

.tabela-execucao-financeira,
.tabela-devolucoes,
.tabela-execucao-fisica {
  .tr-titulo {
    background-color: #f5f6f8;
  }
}

.tabela-devolucoes {
  td {
    width: calc(115% / 4) !important;
  }
}

.titulo-devolucoes {
  font-weight: bold;
  color: var(--color-primary);
  font-size: 20px;
}

.titulo-execucao-fisica {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.sub-titulo-execucao-fisica {
  color: var(--color-primary);
  font-weight: bold;
}

.tabela-lista-prestacoes-dre {
  .p-datatable-wrapper {
    .p-datatable-thead tr th {
      padding: 15px 5px;
    }
  }

  .p-datatable-tbody {
    .p-datatable-row {
      td {
        padding: 0;
      }
    }
  }
}

.conteudo-celulas-lista-dres {
  display: inline-block;
}

.span-status-NAO_RECEBIDA,
.span-status-NAO_APRESENTADA {
  color: #b40c02;
}

.span-status-RECEBIDA,
.span-status-APROVADA,
.span-status-APROVADA_RESSALVA {
  color: #297805;
}

.span-status-DEVOLVIDA,
.span-status-EM_ANALISE {
  color: #d06d12;
}

.documento-pendente {
  font-size: 12px;
  color: #b40c02;
  margin-bottom: 0;
}

.documento-gerado {
  font-size: 12px;
  color: rgba(19, 139, 0, 0.97);
  margin-bottom: 0;
}

.documento-processando {
  font-size: 12px;
  color: #d06d12;
  margin-bottom: 0;
}

body .tabela-associacoes-nao-regularizadas .p-datatable-tbody > tr > td,
body .tabela-associacoes-nao-regularizadas .p-datatable-thead > tr > th {
  padding: 15px !important;
}

.btn-consultar-relatorio,
.btn-consultar-relatorio > button {
  background-color: #fff !important;
  font-weight: normal !important;
  border-color: var(--color-primary-darker) !important;
  color: var(--color-primary-darker) !important;
  padding: 0.25rem 0.5rem;
}

.btn-consultar-relatorio > button span {
  padding: 0 !important;
}

.btn-consultar-relatorio button:nth-child(1) {
  cursor: default;
}

.btn-consultar-relatorio button:nth-child(2) {
  border-left: none !important;
}

.btn-consultar-relatorio button:nth-child(2):hover {
  background-color: var(--color-primary-darker) !important;
  color: #fff !important;
}

.referencia-e-periodo-relatorio {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #42474a;
}

.texto.referencia-e-periodo-relatorio {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.titulo-filtros-retificacao {
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  color: #42474a;
}

.titulo-tabelas {
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  color: #42474a;
}

.linha-desabilitada {
  background-color: #e2e2e2 !important;
  border: 1px solid #ced4da !important;
  cursor: not-allowed !important;
}

.cursor-desabilitado {
  cursor: not-allowed !important;
}

.botao-carregar {
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
}

.botao-carregar:disabled {
  color: white;
}

.botao-carregar:hover {
  color: white;
}
