.titulo-explicativo {
  font-size: 24px;
  color: #00585e;
  font-weight: bold;
}

.span-status-NAO_RECEBIDA {
  color: #B40C02;
}

.span-status-RECEBIDA, .span-status-APROVADA, .span-status-APROVADA_RESSALVA {
  color: #297805;
}

.span-status-DEVOLVIDA {
  color: #D06D12;
}

#timeline {
  height: 2px;
  width: 92%;
  background-color: #00585E;
  position: absolute;
  top: 11px;
  margin-left: 30px;

}

.container-cabecalho {
  .btn-ir-para-listagem:hover svg path {
    fill: #fff;
  }
}

.container-circulo {
  z-index: 1;
  text-align: center;
  background-color: #fff;

  .circulo, .circulo-ativo, .circulo-ativo-passado {
    color: #fff;
    font-size: 14px;
    background-color: #A4A4A4;
    border-radius: 67px;
    padding: 3px 8px;
    font-weight: bold;
  }
  .circulo-ativo{
    background-color: #00585E;
  }
  .circulo-ativo-passado {
    background-color: #42474A;
    padding: 3px 5px;
  }

  .circulo-devolvido-para-acertos{
    background-color: #00585E;
    padding: 3px 9.5px;
  }

  .texto-inativo{
    color: #A4A4A4;
  }
}

.btn-add-cobranca{
  font-weight: bold;
  color: #00585e;
  text-decoration: underline;
}

.btn-add-cobranca.disabled, .btn-add-cobranca:disabled {
  color: #00585e;
  pointer-events: none;
}

.btn-excluir-cobranca, .btn-excluir-cobranca:hover, .btn-excluir-cobranca:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

.fa-trash-alt{
  color: #B40C02;
}

.titulo-devolucao{
  font-size: 14px;
}

.menu-interno {
  padding-bottom: 1.5rem;
  li {
    border: none;

    .btn-escolhe-acao{
      font-weight: bold !important;
      color: #A4A4A4;
      padding-bottom: 1rem;
      margin-right: 2rem;
      border: none;
      outline: 0;
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
    }

    .btn-escolhe-acao:hover{
      color: #00585E !important;
      text-decoration: none;
    }

    .btn-escolhe-acao-active{
      font-weight: bold !important;
      color: #00585E;
      border-bottom: solid #00585E 4px;
    }

    svg{
      fill: red !important;
    }

  }
}

.titulo-tabela{
  font-weight: bold;
  color: #000;
}

.tabela-totais, .tabela-acoes{
  max-width: 100%;
  color: #000 !important;
  .tr-titulo{
    background-color: #F5F6F8;
  }
  .tr-titulo-acoes{
    background-color: #E0F7F9;
  }
  td, .td-livre-aplicacao-ausente{
    width: calc(100% / 5) !important;
  }
  .td-livre-aplicacao-ausente{
    background-color: #E5E5E5;
  }
}

.btn-container-titulo-acoes{
  color: #000;
}

.btn-container-titulo-acoes:hover, .btn-container-titulo-acoes:active, .btn-container-titulo-acoes:focus{
  text-decoration: none;
  color: #000;
}

.container-extrato{
  color: #fff;
  background-color: #2B7D83;
  .titulo{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }
}

.container-diferenca{
  color: #fff;
  background-color: #00585E;
  .titulo{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }
}

.info-devolvida{
  font-size: 16px;
  color: #B40C02;
  font-weight: bold;

  span{
    font-size: 18px;
  }
}

.container-tabela-despesas{
  background-color: #C4C4C4;
}

.tabela-despesas{
  border-collapse: collapse;
  border-spacing: 8px;
}

.tabela-despesas tr.divisao {
  border-bottom: #C4C4C4 5px solid;
  border-top: #C4C4C4 5px solid;
}

.td-com-despesas{
  //width: calc(100% / 6) !important;
  background-color: #EDEDED;
}

.td-com-despesas-unica{
  background-color: #C0E5E8 !important;
}


.td-sem-despesas{
  background-color: #C4C4C4;
  color: #42474A;
  border: none !important;
  padding-bottom: 0 !important;
}

.td-separacao{
  background-color: #C4C4C4;
}

@media (max-width: 1200px) {
  .labels-filtros {
    font-size: 14px !important;
  }
}

.btn-editar-comentario, .btn-cancelar-comentario{
  outline: 0 !important;
  background: none !important;
  border: none !important;
}

.btn-cancelar-comentario{
  color: #00585e;
  text-decoration: underline;
  font-weight: 500;
}
