.titulo-explicativo {
  font-size: 24px;
  color: var(--color-primary);
  font-weight: bold;
}

.span-status-NAO_RECEBIDA {
  color: #b40c02;
}

.span-status-RECEBIDA,
.span-status-APROVADA,
.span-status-APROVADA_RESSALVA {
  color: #297805;
}

.span-status-DEVOLVIDA,
.span-status-DEVOLVIDA_RETORNADA,
.span-status-DEVOLVIDA_RECEBIDA {
  color: #d06d12;
}

#timeline {
  height: 2px;
  width: 92%;
  background-color: var(--color-primary);
  position: absolute;
  top: 11px;
  margin-left: 30px;
}

.container-cabecalho {
  .btn-ir-para-listagem:hover svg path {
    fill: #fff;
  }
}

.container-circulo {
  z-index: 1;
  text-align: center;
  background-color: #fff;

  .circulo,
  .circulo-ativo,
  .circulo-ativo-passado {
    color: #fff;
    font-size: 14px;
    background-color: #a4a4a4;
    border-radius: 67px;
    padding: 3px 8px;
    font-weight: bold;
  }
  .circulo-ativo,
  .circulo-ativo-relatorio-consolidado-dois-digitos,
  .circulo-ativo-relatorio-consolidado-tres-digitos {
    background-color: var(--color-primary);
  }

  .circulo-relatorio-consolidado-em-analise {
    background-color: #b40c02;
  }

  .circulo-ativo-relatorio-consolidado-dois-digitos {
    padding: 8px 9px;
  }

  .circulo-ativo-relatorio-consolidado-tres-digitos {
    padding: 9px 6px;
  }

  .circulo-ativo-passado {
    background-color: #42474a;
    padding: 3px 5px;
  }

  .circulo-devolvido-para-acertos {
    background-color: var(--color-primary);
    padding: 3px 9.5px;
  }

  .texto-inativo {
    color: #a4a4a4;
  }
}

.btn-add-cobranca {
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: underline;
}

.btn-add-cobranca.disabled,
.btn-add-cobranca:disabled {
  color: var(--color-primary);
  pointer-events: none;
}

.btn-excluir-cobranca,
.btn-excluir-cobranca:hover,
.btn-excluir-cobranca:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

.fa-trash-alt {
  color: #b40c02;
}

.titulo-devolucao {
  font-size: 14px;
}

.tabs-resumo-dos-acertos {
  padding-bottom: 0;
  border-bottom: solid 1px #bfbfbf !important;

  .btn-escolhe-acao {
    color: #42474a;
    margin-right: 0.5rem;
    background-color: transparent;
    border: solid 1px #bfbfbf;
    border-bottom: none;
  }

  .btn-escolhe-acao:hover,
  .btn-escolhe-acao:active,
  .btn-escolhe-acao:focus {
    border: solid 1px #bfbfbf;
    border-bottom: none;
  }

  .active {
    font-weight: bold !important;
    color: var(--color-primary) !important;
    background-color: #f3f3f3 !important;
    border-bottom: 1px solid #fff !important;
    margin-bottom: -1px !important;
  }
}

.menu-interno-dre-prestacao-de-contas {
  padding-bottom: 0;
  border-bottom: solid 1px #bfbfbf !important;

  .btn-escolhe-acao {
    color: #42474a;
    margin-right: 0.5rem;
    background-color: transparent;
    border: solid 1px #bfbfbf;
    border-bottom: none;
  }

  .btn-escolhe-acao:hover,
  .btn-escolhe-acao:active,
  .btn-escolhe-acao:focus {
    border: solid 1px #bfbfbf;
    border-bottom: none;
  }

  .btn-escolhe-acao-active {
    font-weight: bold !important;
    color: var(--color-primary);
    background-color: #f3f3f3;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }

  svg {
    fill: red !important;
  }
}

.titulo-tabela {
  font-weight: bold;
  color: #000;
}

.tabela-totais,
.tabela-acoes {
  max-width: 100%;
  color: #000 !important;
  .tr-titulo {
    background-color: #f5f6f8;
  }
  .tr-titulo-acoes {
    background-color: #e0f7f9;
  }
  td,
  .td-livre-aplicacao-ausente {
    width: calc(100% / 5) !important;
  }
  .td-livre-aplicacao-ausente {
    background-color: #e5e5e5;
  }
}

.btn-container-titulo-acoes {
  color: #000;
}

.btn-container-titulo-acoes:hover,
.btn-container-titulo-acoes:active,
.btn-container-titulo-acoes:focus {
  text-decoration: none;
  color: #000;
}

.button-upload {
  color: var(--color-primary);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  background-color: #f3f3f3;
}

.container-extrato {
  color: #000;
  background-color: #f3f3f3;
  .titulo {
    font-size: 18px;
    color: var(--color-primary);
    font-weight: bold;
  }
}

.container-diferenca {
  color: #000;
  background-color: #e7e7e7;
  .titulo {
    font-size: 18px;
    color: var(--color-primary);
    font-weight: bold;
  }
}

.info-devolvida {
  font-size: 16px;
  color: #b40c02;
  font-weight: bold;

  span {
    font-size: 18px;
  }
}

.container-tabela-despesas {
  background-color: #c4c4c4;
}

.tabela-despesas {
  border-collapse: collapse;
  border-spacing: 8px;
  word-break: break-word;
}

.tabela-despesas tr.divisao {
  border-bottom: #c4c4c4 5px solid;
  border-top: #c4c4c4 5px solid;
}

.td-com-despesas {
  //width: calc(100% / 6) !important;
  background-color: #ededed;
}

.td-com-despesas-unica {
  background-color: #c0e5e8 !important;
}

.td-sem-despesas {
  background-color: #c4c4c4;
  color: #42474a;
  border: none !important;
  padding-bottom: 0 !important;
}

.td-separacao {
  background-color: #c4c4c4;
}

@media (max-width: 1200px) {
  .labels-filtros {
    font-size: 14px !important;
  }
}

.btn-editar-comentario,
.btn-editar-comentario-disabled,
.btn-cancelar-comentario {
  outline: 0 !important;
  background: none !important;
  border: none !important;
}

.btn-cancelar-comentario {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 500;
}

.btn-cancelar-comentario-disabled {
  opacity: 0.65 !important;
}

.btn-editar-comentario-disabled {
  color: #4c4c4c;
  text-decoration: none;
  font-weight: 500;
}

.container-item-comentario:hover {
  cursor: move;
}

.checkbox-comentario-de-analise {
  margin-right: 5px;
}

.container-exibe-motivos {
  background-color: #e9ecef;
}

.retira-dropdown-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

#visualizar_arquivo_de_referencia {
  min-height: 500px;
  width: 100%;
}

.linha-conferencia-de-lancamentos-correto {
  background-color: #b8d0cd !important;
}

.titulo-row-expanded-conferencia-de-lancamentos {
  border-bottom-color: var(--color-primary);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: var(--color-primary);
}

.titulo-row-expanded-conferencia-de-esclarecimento {
  border-bottom-color: #dadada;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #dadada;
}

.text-wrap-conferencia-de-lancamentos {
  overflow-wrap: break-word;
}

.span-rateio-tag-conferencia-de-lancamentos {
  background: #086397;
  border-radius: 5px;
  color: #fff;
  padding: 5px 0.8rem;
  margin-top: 3px;
  display: inline-block;
}

.btn-montagem-selecionar,
.btn-montagem-selecionar:hover,
.btn-montagem-selecionar:focus,
.btn-montagem-selecionar:visited {
  color: #fff;
  padding: 0;
  margin: 0;
}

.texto-alerta {
  color: #d06d12;
}

.texto-realize-ajuste {
  color: var(--color-primary-lighten);
}

.tabela-novos-valores-reprogramados {
  max-width: 100%;
  color: #000 !important;

  .tr-titulo-valores {
    background-color: #f3f3f3;
  }
}

.text-saldo-reprogramado {
  color: var(--color-primary-lighten) !important;
}

.lista-motivos {
  color: var(--color-primary-lighten) !important;
  font-weight: bold;
}

/* MultiSelectDemo.css */

.multiselect-demo .p-multiselect {
  width: 100%;
  min-width: 15rem !important;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  padding: 0.01rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;
}

.p-multiselect-representative-option img {
  vertical-align: middle;
  width: 24px;
}

.p-multiselect-representative-option span {
  margin-top: 0.125rem;
}

.multiselect-demo .p-multiselect .p-multiselect-item label {
  margin-bottom: 0px;
}

.p-multiselect-label {
  margin-bottom: 0px;
}

.container-titulo-extrato-bancario {
  border: 1px solid var(--color-primary-lighten);
  background-color: var(--color-primary-lighten);
  padding: 10px;
}

.titulo-extrato-bancario {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.container-extrato-bancario {
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  color: #42474a;
  font-size: 14px;
}

.dados-extrato-bancario {
  color: #000000;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom-color: #a4a4a4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.dados-extrato-bancario-correcao {
  color: #000000;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom-color: #a4a4a4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.tem-diferenca {
  color: #b40c02;
  font-weight: bold;
}

.container-botoes-extrato-bancario {
  background-color: #e7e7e7;
}

.titulo-acerto-saldo {
  color: var(--color-primary-lighten);
  font-size: 18px;
}

.salvo-com-sucesso {
  color: #297805;
  font-size: 14px;
  font-weight: bold;
}

/* trilha status relatorio consolidado */

.container-circulo-relatorio-consolidado {
  z-index: 1;
  text-align: center;

  .aumenta-timeline {
    background-color: #fff;
    width: 70px;
    margin: 0 auto;
  }

  .circulo {
    color: #fff;
    font-size: 14px;
    background-color: #a4a4a4;
    border-radius: 67px;
    padding: 3px 8px;
    font-weight: bold;
  }

  .circulo-duplo {
    color: #fff;
    font-size: 14px;
    border-radius: 67px;
    font-weight: bold;
    padding: 12px 4px;
    border: 2px solid var(--color-primary);
    background-color: #fff;
  }

  .circulo-relatorio-consolidado-dois-digitos {
    padding: 8px 9px;
  }

  .circulo-relatorio-consolidado-tres-digitos {
    padding: 9px 6px;
  }

  .circulo-relatorio-consolidado-simples {
    background-color: var(--color-primary);
  }

  .circulo-relatorio-consolidado-simples-vermelho {
    background-color: #b40c02;
  }
}

.texto-categoria-verde {
  color: #297805;
  font-weight: 900;
}

.texto-categoria-laranja {
  color: #ff930f;
  font-weight: 900;
}

.texto-categoria-vermelho {
  color: #b40c02;
  font-weight: 900;
}

.texto-categoria-documento-verde {
  color: #297805;
  font-weight: 900;
}

.texto-categoria-documento-vermelho {
  color: #b40c02;
  font-weight: 900;
}

.btn-remover-ajuste-lancamento,
.btn-remover-ajuste-lancamento:hover,
.btn-remover-ajuste-lancamento:active,
.btn-remover-ajuste-lancamento:focus,
.btn-remover-ajuste-lancamento:visited {
  color: #b40c02;
  font-weight: bold;
}

.btn-remover-ajuste-lancamento-copia,
.btn-remover-ajuste-lancamento-copia:hover,
.btn-remover-ajuste-lancamento-copia:active,
.btn-remover-ajuste-lancamento-copia:focus,
.btn-remover-ajuste-lancamento-copia:visited {
  color: #297805;
  font-weight: bold;
}
.sme-considera-correto {
  position: absolute;
  left: 605px;
  top: -20px;
}

.btn-remover-ajuste-documento,
.btn-remover-ajuste-documento:hover,
.btn-remover-ajuste-documento:active,
.btn-remover-ajuste-documento:focus,
.btn-remover-ajuste-documento:visited {
  color: #b40c02;
  font-weight: bold;
}

.btn-remover-ajuste-documento-copia,
.btn-remover-ajuste-documento-copia:hover,
.btn-remover-ajuste-documento-copia:active,
.btn-remover-ajuste-documento-copia:focus,
.btn-remover-ajuste-documento-copia:visited {
  color: #297805;
  font-weight: bold;
}

.esconde-categoria {
  display: none !important;
}

.esconde-tipo-acerto {
  display: none !important;
}

.restaurar-justificativa {
  padding: 0px;
  border-bottom-color: #48505b;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.link-restaurar-justificativa {
  color: #48505b !important;
}

.link-restaurar-justificativ:hover {
  cursor: pointer;
}

.barra-info {
  color: #ef4c61;
  border-radius: 4px;
  border-color: #ef4c61;
  border-style: solid;
  background-color: #fdedee;
  border-width: 1px;
  font-weight: 500;
  line-height: 20px;
}

.icone-barra-info {
  color: #ef4c61;
  margin-right: 7px;
  margin-left: 7px;
}
