.tag-informacoes {
    display: flex;
    flex: 1;
    max-width: 130px;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.tag-purple {
    background-color: #9C33AD;
}

.tag-darkblue {
    background-color: #5F55A1;
}

.tag-orange {
    background-color: #F28A0D
}

.tag-green {
    background-color: #03543F
}

.tag-blank {
    border: 2px solid #03543F;
    color: #03543F;
    background: inherit;
}

.tag-red-white{
    border: 2px solid #D8DBDB;
    color: #424848;
    background: #D8DBDB;
}

#vinculo-atividade + span {
    max-width: 130px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #00585D;
    background-color: #DADADA;
}

