.container-info-permissoes{
  background-color: #d5e5e6;
}

.tabela-lista-perfis{
  th, td{
    width: calc(100% / 5) !important;
  }

  .coluna-editar{
    width: 56px !important;
  }
}

.grupo-nome{
  color: #00585e;
  font-weight: bold;
}