.barra-de-status {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-primary-lighten);
  color: #fff;
}

.container-cards-dre-dashboard {
  .card-header {
    height: 48%;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border-bottom: none;
    line-height: 19px;

    .borda-bottom {
      border-bottom: 1px solid #dadada;
      display: block;
    }
  }
  .card-body {
    .card-qtde-associacoes {
      font-weight: bold;
      font-size: 28px;
      color: var(--color-primary-lighten);
    }
  }

  .btn-ver-prestacoes:hover svg path {
    //filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    fill: #fff;
  }
}

.btn-ver-todas-as-prestacoes {
  border-color: #fff !important;
  color: #fff !important;
}

.nome-dre-tabela {
  font-weight: 700;
  color: #42474a !important;
}

.status-sme-preto {
  font-weight: 700;
  color: #42474a !important;
}

.status-sme-verde {
  font-weight: 700;
  color: #297805 !important;
}

.status-sme-laranja {
  font-weight: 700;
  color: #d06d12 !important;
}

.status-sme-vermelho {
  font-weight: 700;
  color: #b40c02 !important;
}

.data-inicio-analise {
  font-size: 1rem;
  font-weight: 400;
}

.disable-lupa-auto-complete {
  opacity: 0.65 !important;
  background-color: #f5f6f8;
}

.remove-pointer {
  pointer-events: none;
}
