.fonte-normal {
  font-weight: normal !important;
}

.container-texto-introdutorio {
  background-color: #d3f1f3;
  padding-top: 16px;
  padding-bottom: 14px;

  .titulos-informacoes {
    font-size: 16px;
    font-weight: bold;
  }
}

.btn-readonly {
  background-color: #a4a4a4 !important;
  color: #fff !important;
  border-color: #a4a4a4 !important;
}

.barra-status-legenda-cor-1 {
  background-color: #de9524;
}

.barra-status-legenda-cor-2 {
  background-color: #086397;
}

.barra-status-legenda-cor-3 {
  background-color: #b40c02;
}

.barra-status-legenda-cor-4 {
  background-color: var(--color-primary-lighten);
}

.barra-status-legenda-cor-5 {
  background-color: #289b00;
}

.barra-status-legenda-cor-6 {
  background-color: #b7b7b7;
}

.titulo-status {
  color: #fff;
  font-size: 14px !important;
  font-weight: bold !important;
}

.demonstrativo-financeiro-container {
  .demonstrativo-financeiro-titulo {
    font-weight: bold;
    font-size: 20px;
  }

  .demonstrativo-financeiro-nome-acao {
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }

  .demonstrativo-financeiro-documento-pendente {
    font-size: 12px;
    color: #b40c02;
  }

  .demonstrativo-financeiro-documento-gerado {
    font-size: 12px;
    color: rgba(19, 139, 0, 0.97);
  }

  .demonstrativo-financeiro-btn-readonly {
    background-color: #a4a4a4 !important;
    color: #fff !important;
    border-color: #a4a4a4 !important;
  }
}

/*body .p-datatable .p-datatable-tbody > tr:nth-child(even){
  background-color: #fff !important;
}

.detalhe-das-prestacoes-container .detalhe-das-prestacoes-tabela td:hover{
  color: red;
}*/

.relacao-bens-container {
  .relacao-bens-title {
    font-weight: bold;
    font-size: 20px;
  }

  article {
    display: flex;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 6px 12px;

    .info {
      margin-top: 15px;
      margin-bottom: 15px;
      flex: 1;

      .title {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 14px;
      }

      .documento-pendente {
        font-size: 12px;
        color: #b40c02;
        margin-bottom: 0;
      }

      .documento-gerado {
        font-size: 12px;
        color: rgba(19, 139, 0, 0.97);
        margin-bottom: 0;
      }

      .documento-processando {
        font-size: 12px;
        color: #d06d12;
        margin-bottom: 0;
      }
    }

    .actions {
      flex: 1;
      text-align: right;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.detalhe-das-prestacoes-container {
  .detalhe-das-prestacoes-texto-cabecalho {
    font-size: 28px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
  }
  .detalhe-das-prestacoes-titulo,
  .detalhe-das-prestacoes-titulo-lancamentos {
    font-size: 24px;
    font-weight: bold;
  }

  .detalhe-das-prestacoes-titulo {
    color: var(--color-primary);
  }

  .detalhe-das-prestacoes-titulo-lancamentos {
    font-weight: bold;
  }

  .detalhe-das-prestacoes-align-center {
    text-align: center !important;
  }

  .detalhe-das-prestacoes-tabela {
    border: none !important;
  }

  .detalhe-das-prestacoes-tabela-th-fundo-branco {
    background-color: #fff !important;
  }

  .detalhe-das-prestacoes-tabela th {
    padding: 20px !important;
    border: solid 1px #e0e0e0 !important;
  }

  .detalhe-das-prestacoes-tabela tfoot tr td {
    text-align: left !important;
    border: solid 1px #e0e0e0 !important;
    width: 150px !important;
  }

  .detalhe-das-prestacoes-tabela td {
    padding: 20px !important;
    border: none !important;
    border-right: solid 1px #e0e0e0 !important;
    border-left: solid 1px #e0e0e0 !important;
  }

  .detalhe-das-prestacoes-tabela-fundo-azul-claro {
    background-color: #e0f7f9 !important;
    font-weight: bold;
  }

  .tabela-lancamentos-receitas td {
    width: calc(100% / 6) !important;
    padding: 15px !important;
  }

  .tabela-lancamentos-receitas td input[type="checkbox"] {
    transform: scale(1.3) !important;
  }

  .tabela-lancamentos-despesas td {
    width: calc(100% / 6) !important;
    padding: 15px !important;
  }

  .tabela-lancamentos-despesas td input[type="checkbox"] {
    transform: scale(1.3) !important;
  }
}
.datatable-responsive-demo {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  @media screen and (max-width: 40em) {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

.menu-interno {
  padding-bottom: 1.5rem;
  li {
    border: none;

    .btn-escolhe-acao {
      font-weight: bold !important;
      color: #a4a4a4;
      padding-bottom: 1rem;
      margin-right: 2rem;
      border: none;
      outline: 0;
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
    }

    .btn-escolhe-acao:hover {
      color: var(--color-primary-darker) !important;
      text-decoration: none;
    }

    .btn-escolhe-acao-active {
      font-weight: bold !important;
      color: var(--color-primary);
      border-bottom: solid var(--color-primary-darker) 4px;
    }

    svg {
      fill: red !important;
    }
  }
}

.tabela-transacoes .p-datatable-tbody > .p-datatable-row:nth-child(even),
.tabela-transacoes .p-datatable-tbody > tr {
  background-color: #fff;
}

.tabela-lancamentos-despesas .p-datatable-row:hover {
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

.tabela-transacoes .p-datatable-tbody > .p-datatable-row:nth-child(even):hover {
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

.quebra-palavra {
  word-break: break-all;
}

.titulo-row-expanded {
  color: var(--color-primary);
}
.btn-split {
  .p-button-text {
    font-weight: normal;
    font-size: 16px;
  }

  .p-splitbutton {
    border-radius: 50px;
  }
}

.justificativas-e-informacoes-adicionais {
  font-size: 24px;
  font-weight: bold;
}

.check-salvar {
  font-size: 16px;
}

.icone-salvar {
  align-items: center;
}

.border-bottom-row-expanded {
  border-bottom: 1px solid #00585e;
}

.barra-aviso-erro-conclusao-pc {
  color: #f28a0d;
  border-radius: 4px;
  border-color: #f28a0d;
  border-style: solid;
  background-color: #fef3e7;
  border-width: 1px;
  font-weight: 500;
  line-height: 20px;
}

.icone-barra-aviso-erro-conclusao-pc {
  color: #f28a0d;
  margin-right: 7px;
  margin-left: 7px;
}
