.fonte-normal {
  font-weight: normal !important;
}

.container-texto-introdutorio {
  background-color: #D3F1F3;
  padding-top: 16px;
  padding-bottom: 14px;

  .titulos-informacoes {
    font-size: 16px;
    font-weight: bold;
  }
}

.btn-readonly {
  background-color: #A4A4A4 !important;
  color: #fff !important;
  border-color: #A4A4A4 !important;

}


.barra-status-legenda-cor-1 {
  background-color: #DE9524;
}

.barra-status-legenda-cor-2 {
  background-color: #086397;
}

.barra-status-legenda-cor-3 {
  background-color: #B40C02;
}

.barra-status-legenda-cor-4 {
  background-color: #2B7D83;
}

.barra-status-legenda-cor-5 {
  background-color: #289B00;
}

.barra-status-legenda-cor-6 {
  background-color: #b7b7b7;
}

.titulo-status {
  color: #fff;
  font-size: 14px !important;
  font-weight: bold !important;
}

.demonstrativo-financeiro-container {

  .demonstrativo-financeiro-titulo {
    font-weight: bold;
    font-size: 20px;
  }

  .demonstrativo-financeiro-nome-acao {
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }

  .demonstrativo-financeiro-documento-pendente {
    font-size: 12px;
    color: #B40C02;
  }

  .demonstrativo-financeiro-documento-gerado {
    font-size: 12px;
    color: rgba(19, 139, 0, 0.97);
  }

  .demonstrativo-financeiro-btn-readonly {
    background-color: #A4A4A4 !important;
    color: #fff !important;
    border-color: #A4A4A4 !important;
  }

}

/*body .p-datatable .p-datatable-tbody > tr:nth-child(even){
  background-color: #fff !important;
}

.detalhe-das-prestacoes-container .detalhe-das-prestacoes-tabela td:hover{
  color: red;
}*/

.relacao-bens-container {
  .relacao-bens-title {
    font-weight: bold;
    font-size: 20px;
  }

  article {
    display: flex;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 6px 12px ;

    .info {
      margin-top: 15px;
      margin-bottom: 15px;
      flex: 1;

      .title {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 14px;
      }

      .documento-pendente {
        font-size: 12px;
        color: #B40C02;
        margin-bottom: 0;
      }

      .documento-gerado {
        font-size: 12px;
        color: rgba(19, 139, 0, 0.97);
        margin-bottom: 0;
      }
    }

    .actions {
      flex: 1;
      text-align:right;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.detalhe-das-prestacoes-container {

  .detalhe-das-prestacoes-texto-cabecalho h1{
    font-size: 28px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
  }
  .detalhe-das-prestacoes-titulo, .detalhe-das-prestacoes-titulo-lancamentos {
    font-size: 24px;
    font-weight: bold;
  }

  .detalhe-das-prestacoes-titulo{
    color: #00585e;
  }

  .detalhe-das-prestacoes-titulo-lancamentos {
    font-weight: bold;
  }

  .detalhe-das-prestacoes-align-center {
    text-align: center !important;
  }

  .detalhe-das-prestacoes-tabela {
    border: none !important;
  }

  .detalhe-das-prestacoes-tabela-th-fundo-branco {
    background-color: #fff !important;
  }

  .detalhe-das-prestacoes-tabela th {
    padding: 20px !important;
    border: solid 1px #E0E0E0 !important;
  }


  .detalhe-das-prestacoes-tabela tfoot tr td {
    text-align: left !important;
    border: solid 1px #E0E0E0 !important;
    width: 150px !important;
  }


  .detalhe-das-prestacoes-tabela td {
    padding: 20px !important;
    border: none !important;
    border-right: solid 1px #E0E0E0 !important;
    border-left: solid 1px #E0E0E0 !important;

  }

  .detalhe-das-prestacoes-tabela-fundo-azul-claro {
    background-color: #E0F7F9 !important;
    font-weight: bold;
  }


  .tabela-lancamentos-receitas td {
    width: calc(100% / 6) !important;
    padding: 15px !important;
  }

  .tabela-lancamentos-receitas td input[type=checkbox] {
    transform: scale(1.3) !important;
  }

  .tabela-lancamentos-despesas td {
    width: calc(100% / 6) !important;
    padding: 15px !important;
  }

  .tabela-lancamentos-despesas td input[type=checkbox] {
    transform: scale(1.3) !important;
  }
}
.datatable-responsive-demo {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  @media screen and (max-width: 40em) {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

.menu-interno {
  padding-bottom: 1.5rem;
  li {
    border: none;

    .btn-escolhe-acao{
      font-weight: bold !important;
      color: #A4A4A4;
      padding-bottom: 1rem;
      margin-right: 2rem;
      border: none;
      outline: 0;
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
    }

    .btn-escolhe-acao:hover{
      color: #00585E !important;
      text-decoration: none;
    }

    .btn-escolhe-acao-active{
      font-weight: bold !important;
      color: #00585E;
      border-bottom: solid #00585E 4px;
    }

    svg{
      fill: red !important;
    }

  }
}
/*.btn-escolhe-acao {
    font-weight: bold !important;
    color: #A4A4A4;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    margin-right: 2rem;
}

.btn-escolhe-acao:hover{
    color: #00585E !important;
    text-decoration: none;
  }

.btn-escolhe-acao-active{
    font-weight: bold !important;
    color: #00585E;
    border-bottom: solid #00585E 4px;
  }*/
