.sidenav---navitem---9uL5T, .sidenav---navicon---3gCRo{
  line-height: 35px !important;
  height: 35px !important;
}

.esconde-icone > div{
  line-height: 0 !important;
  height: 0 !important;
}
.sideNavCustomizado{
  position: fixed;
  background-color: #00585E;
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-top: 77px;
  overflow-y: auto;
  overflow-x: hidden;


  .sidenav---navtext---1AE_f{
    color: #fff !important;
    font-weight: 500;
  }

  .navItemCustomizado:hover{
    background-color: #00585E;
  }

  .navItemCustomizadoNome:hover{
    background-color: #00585e;
  }

  .navItemCustomizadoNome{
    background-color: #00585e;
  }

  .container-nome-instituicao{
    text-align: center;
    display: inline-block;
    width: 220px;
    white-space: normal;
    line-height: normal;
    position: relative;
    float: left;
    color: #fff !important;

    span{
      font-weight: normal;
    }
  }

  .navItemLogo{
    text-align: center;
    max-width: 240px;
    display: inline-block;
    width: 240px;
    white-space: normal;
    line-height: normal;
    position: relative;
    float: left;
    color: #fff !important;
  }

}
[data-tooltip] {
  position: relative;

  &::before,
  &::after {
    opacity: 0;
    visbility: hidden;
    margin-top: -0.5em;
  }

  &::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    top: -200%;
    left: 50%;
    margin-left: -4.75em;
    width: 8em;
    text-align: center;
    border-radius: 4px;
    background: black;
    color: white;
    font-size: 0.8em;
    line-height: 1.1;
    padding: 0.75em 0.95em;
  }

  &::after {
    content: "";
    border: 10px solid transparent;
    border-top-color: black;
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -10px;
  }

  &:hover {
    cursor: help;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    visiblity: visible;
  }
}
