.sidenav---navitem---9uL5T, .sidenav---navicon---3gCRo{
  line-height: 40px !important;
  height: 40px !important;
}

.sideNavCustomizado{
  position: fixed;
  background-color: #00585E;
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-top: 77px;
  overflow-y: auto;
  overflow-x: hidden;


  .sidenav---navtext---1AE_f{
    color: #fff !important;
    font-weight: 500;
  }

  .navItemCustomizado:hover{
    background-color: #00585E;
  }

  .navItemCustomizadoNome:hover{
    background-color: #00585e;
  }

  .navItemCustomizadoNome{
    background-color: #00585e;
  }

  .container-nome-instituicao{
    text-align: center;
    display: inline-block;
    width: 220px;
    white-space: normal;
    line-height: normal;
    position: relative;
    float: left;
    color: #fff !important;

    span{
      font-weight: normal;
    }
  }

  navItemLogo{
    text-align: center;
    max-width: 240px;
    display: inline-block;
    width: 240px;
    white-space: normal;
    line-height: normal;
    position: relative;
    float: left;
    color: #fff !important;
  }

}
