.sidenav---sidenav---_2tBP{
  position: fixed;
  background-color: #00585E;
}

.sidenav---navtext---1AE_f{
  color: #fff !important;
  font-weight: bold;
}

.container-nome-instituicao{
  text-align: center;
  max-width: 240px;
  display: inline-block;
  width: 200px;
  white-space: normal;
  line-height: normal;
  margin-left: -50px;
}

.nomeInstituicao{

}