.titulo-box-prestacao-de-contas-por-periodo{
  font-weight: bold;
  font-size: 20px;
}

.container-box-prestacao-de-contas-por-periodo{
  border: 1px solid #c8c8c8;
}

.status-data-verde{
  color: rgba(19, 139, 0, 0.97);
}
.status-data-vermelho{
  color: #B40C02;
}

.container-visualizacao-da-ata{
  margin-top: 69px;
  color: #000 !important;

  .titulo-visualizacao-da-ata{
    font-size: 24px;
    font-weight: bold;
  }

  .titulo-tabela-acoes{
    color: #00585E;
    font-weight: bold;
    font-size: 18px;
  }

  .tabela-acoes{
    max-width: 100%;
    color: #000 !important;
    .tr-titulo{
      background-color: #E0F7F9;
    }
    td, .td-livre-aplicacao-ausente{
      width: calc(100% / 5) !important;
    }
    .td-livre-aplicacao-ausente{
      background-color: #00585e;
    }
  }

  .texto-despesas-titulo{
    font-size: 14px;
    font-weight: bold;

    .texto-despesas-valor{
      color: #00585e;
    }

  }

  .tabela-totais{
    color: #000 !important;
    .tr-titulo{
      background-color: #2B7D83;
      color: #fff;
    }

    td{
      width: calc(100% / 4) !important;
    }
  }
}