.titulo-box-prestacao-de-contas-por-periodo{
  font-weight: bold;
  font-size: 20px;
}

.status-preenchido{
  color: rgba(19, 139, 0, 0.97);
}
.status-nao-preenchido{
  color: #B40C02;
}

.container-visualizacao-da-ata{
  margin-top: 69px;

  .titulo-visualizacao-da-ata{
    font-size: 24px;
    font-weight: bold;
  }

  .titulo-tabela-acoes{
    color: #00585E;
    font-weight: bold;
    font-size: 18px;
  }

  .tabela-acoes{
    .tr-titulo{
      background-color: #E0F7F9;
    }
  }

  .texto-despesas-titulo{
    font-size: 14px;
    font-weight: bold;

    .texto-despesas-valor{
      color: #00585e;
    }

  }


}