.container-dashboard-card {

}
.container-lado-esquerdo{
  background-color: #F3F3F3;
  font-size: 14px;
  color: #00585E;
  border-radius: 3px;
}

.container-lado-direito{
  font-size: 12px;
  color: #42474A;
}

.ultima-atualizacao{
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}

// Fontes
.fonte-12 {
  font-size: 12px !important;
}

.fonte-14 {
  font-size: 14px;
}

.fonte-16 {
  font-size: 16px;
}