.barra-status-encerramento-conta-pendente {
    color: #0A6DDF;
    border-radius: 4px;
    border-color: #69C0FF;
    border-style: solid;
    background-color: #E6F7FF;
    border-width: 1px;
    font-weight: 500;
    line-height: 20px;
}

.barra-status-encerramento-conta-rejeitada {
    color: #EF4C61;
    border-radius: 4px;
    border-color: #EF4C61;
    border-style: solid;
    background-color: #FDEDEE;
    border-width: 1px;
    font-weight: 500;
    line-height: 20px;
}

.icone-barra-encerramento-conta-rejeitada { 
    color: #EF4C61;
    margin-right: 4px;
}

.icone-barra-encerramento-conta-pendente {
    color: #0A6DDF;
    margin-right: 4px;
}

.saldo-recursos-conta {
    color: #297805;
    font-weight: 700;
    font-size: 16px;
}

.textos-card-saldos {
    font-weight: 500;
    font-size: 14px;
}

