.container-seleciona-recurso {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.imagem-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 200px;
    height: auto;
    border-radius: 27px;
  }
}

.icone {
  padding: 10px;
  background-color: white;
}

.select-recurso-antd {
  width: 210px;
  font-family: "Roboto", sans-serif !important; 

  .ant-select-selector {
    height: 30px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-family: "Roboto", sans-serif !important; 
  }
}

.ant-select-dropdown {
  font-family: "Roboto", sans-serif !important; 

  .ant-select-item-option:hover {
    background-color: #f0f0f0 !important;
    cursor: pointer;
  }

  .ant-select-item-option-selected {
    background-color: #b8b8b8 !important;
    font-weight: 500;
  }
}
