.container-btn-broup-categorias{
  display: block;
  padding-bottom: 30px;
  border-bottom: solid 1px #ccc;

  label{
    color: #000;
    border-color:#DADADA;
  }
  .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle{
    background-color: #DADADA !important;
  }
}

.span-icone-toogle{
  background-color: rgb(199, 201, 200);
  border-radius: 67px;
  border: 1px solid rgb(199, 201, 200);
  padding: 8px 12px;
  font-size: 16px;
}

#accordionNotificacoes >.card >.card-header {
  border-radius: 5px;
  margin-bottom: 0;
}

#accordionNotificacoes .card-header, #accordionNotificacoes .card-body{
  border-bottom: 1px solid rgba(0,0,0,.125);

}