.container-campos-dinamicos {

  .btn-excluir-valores-reprogramados, .btn-excluir-valores-reprogramados:hover, .btn-excluir-valores-reprogramados:focus {
    outline: none;
    border: none;
    background-color: transparent;
  }

  .fa-trash-alt{
    color: #B40C02;
  }

}
